@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    font-family: 'Atkinson', system-ui, -apple-system, sans-serif;
  }
}

@layer utilities {
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
